<!--<div class="container">
    <div class="row">
        <div class="col-6"><app-form></app-form></div>
        <div class="col-6"><app-info></app-info></div>
    </div>
</div>-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Agenda Telefónica</h1>
        <hr class="my-4">
        <p>Selecciona la opción que necesites.</p>
        <div class="container">
            <div class="row">
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-success btn-lg btn-block" 
                routerLink="/form">Crear nuevo contacto</button></div>

            <div class="col"><button type="button" class="btn btn-danger btn-lg btn-block" 
                routerLink="/info">Ver mis contactos</button></div>
            <div class="col"></div>
            </div>
        </div>
    </div>
</div>